@import "variables";

body, p {
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: $header-font-weight;
}

h1.large {
    font-family: $title-font;
    font-size: 5em;
}

.image-credit {
    text-align: right;
    font-size: 75%;
    position: relative;
    top: -1em;
}

.table-highlight-row {
    background-color: $table-highlight-color;
}

.table-highlight-row td {
    font-weight: bold;
}

#blog-content p {
    text-align: justify;
}