@import "variables";

body, p {
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: $header-font-weight;
}

h1.large {
    font-family: $title-font;
    font-size: 5em;
}

hr {
    border: solid 0.5px rgba(0, 0, 0, 0.33);
    margin: 1em 0;
}

.data-table-overflow {
    overflow-x: auto;
    font-size: 90%;
    font-family: monospace;
    margin-bottom: 1em;
    border-top: dashed 1px $table-overflow-border-color;
    border-bottom: dashed 1px $table-overflow-border-color;
}

.data-table-overflow table {
    min-width: 960px;
}

.data-table-overflow th {
    text-align: left;
}

.data-table-overflow th, td {
    padding: 0 5px;
}

.data-table-overflow summary {
    cursor: pointer;
}

.image-credit {
    text-align: right;
    font-size: 75%;
    position: relative;
    top: -1em;
}

.table-highlight-row {
    background-color: $table-highlight-color;
}

.table-highlight-row td {
    font-weight: bold;
}