/* Colors */
$background-color: rgb(150, 180, 210);
$footer-background-color: rgb(0, 0, 0);
$footer-text-color: rgb(255, 255, 255);
$nav-background-color: rgb(0, 0, 0);
$nav-hover-color: rgb(64, 64, 64);
$nav-text-color: rgb(255, 255, 255);
$table-highlight-color: rgb(140, 255, 50);

/* Fonts */
$body-font: 'Open Sans', sans-serif;
$footer-font: serif;
$footer-font-size: 0.9em;
$header-font: 'Open Sans', sans-serif;
$header-font-weight: bold;
$nav-font: 'Open Sans', sans-serif;
$nav-font-weight: 600;
$title-font: 'Tektur', cursive;
$title-font-size: 21px;
$title-font-weight: $header-font-weight;


/* Sizes */
$footer-height: 2em;
$main-width: 1024px;
