---
---
<footer>
    <p id="copyright">&copy; <span id="copyright-year"></span> Gregg Tabot. All rights reserved.</p>
</footer>

<style lang="scss">
    @import '../styles/variables.scss';

    footer {
        height: $footer-height;
        width: 100%;
        background-color: $footer-background-color;
        color: $footer-text-color;
        text-align: center;
    }

    footer p {
        margin: 0;
        line-height: $footer-height;
        font-family: $footer-font;
        font-size: $footer-font-size;
    }
</style>

<script>
    document.querySelector("#copyright-year").textContent = new Date().getFullYear().toString();
</script>

