---
const navItems = [
    { name: "About", path: "/about" },
    { name: "Blog", path: "/blog" },
    { name: "Projects", path: "/projects" },
    { name: "Services", path: "/services" },
    { name: "Resume", path: "/resume" },
    { name: "Links", path: "/links" }
]
---
<nav>
    <div class="navbar">
        <a href="/" class="nav-title">TheyCallMeGTab.dev</a>
        <button class="hamburger" aria-label="Toggle Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul id="full-nav">
            {
                navItems.map(item => (
                    <li><a href={item.path}>{item.name}</a></li>
                ))
            }
        </ul>
    </div>
    <ul id="mobile-nav">
        {
            navItems.map(item => (
                    <li><a href={item.path}>{item.name}</a></li>
            ))
        }
    </ul>
</nav>

<style lang="scss">
    @import '../styles/variables';

    nav {
        background-color: $nav-background-color;
        font-family: $nav-font;
        font-weight: $nav-font-weight;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $main-width;
        height: 2.75em;
    }

    .nav-title {
        font-family: $header-font;
        font-weight: $header-font-weight;
        font-size: $header-font-size;
        text-decoration: none;
        color: $nav-text-color;
        padding: 4px 14px;
        border-radius: 5px;
    }

    .nav-title:hover {
        background-color: $nav-hover-color;
    }

    ul {
        list-style: none;
        display: flex;
    }

    ul#full-nav li {
        margin-left: 1em;
        border-radius: 5px;
    }

    ul#full-nav li:first-child {
        margin-left: 0;
    }

    ul#mobile-nav {
        display: none;
    }

    ul#mobile-nav li a {
        width: 100%;
    }

    ul li:hover {
        background-color: $nav-hover-color;
    }

    ul li.active {
        background-color: $nav-hover-color;
    }

    ul li a {
        text-decoration: none;
        color: $nav-text-color;
        display: inline-block;
        padding: 7px 14px;
    }

    .hamburger {
        display: none;
        cursor: pointer;
        background: none;
        border: none;
        padding: 10px;
    }

    .hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
        background-color: $nav-text-color;
        border-radius: 2px;
    }

    @media screen and (max-width: 768px) {
        ul {
            display: none;
        }

        .hamburger {
            display: block;
        }

        ul#mobile-nav.nav-open {
            display: flex;
            flex-direction: column;
            padding: 0px 0px 4px 0px;
            margin: 0px;
        }
    }
</style>

<script>
    const currentPath = window.location.pathname;
    const navItems = document.querySelectorAll('ul li');

    navItems.forEach(item => {
        const link = item.querySelector('a');
        if (currentPath.startsWith(link.getAttribute('href'))) {
            item.classList.add('active');
        } else {
            item.classList.remove('active');
        }
    });

    const hamburgerButton = document.querySelector('.hamburger');
    const mobileNavMenu = document.querySelector('#mobile-nav');

    hamburgerButton.addEventListener('click', () => {
        mobileNavMenu.classList.toggle('nav-open');
    });
</script>