---
import Head from "./Head.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---
<html id="particles-js">
    <Head title={title} description={description} ></Head>
    <body>
        <Nav />
        <main class="frosted-glass">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style lang="scss">
    @import '../styles/global.scss';
    @import '../styles/variables.scss';

    body {
        margin: 0;
        background-color: $background-color;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100svh;
        position: absolute;
        width: 100%
    }

    main {
        max-width: $main-width;
        margin: 2.75em auto -2em auto;
        width: 100%;
        padding: 1em 2em;
        box-sizing: border-box;
    }

    .frosted-glass {
        backdrop-filter: blur(2.25px);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (max-width: 768px) {
        .frosted-glass {
            background-color: rgba(213, 225, 237, 1);
        }
    }
</style>

<script>
    import "../js/particles.js";
    import "../js/particles-config.js";
    particlesJS("particles-js", particles_config);
</script>
